[elasticsearch]
es.url = ['localhost:9200']
# There are at most 20 articles in one article list.
# If you set the parameter as 1, it means you index 20 articles as 1 bulk to elasticsearch.
es.index.period = 10

[ptt]
ptt.protocol = https
ptt.url.prefix = www.ptt.cc/bbs
ptt.board.list = ['Gossiping']

[log]
log.file = /tmp/ptt-crawler.log

